.userRow {
    padding: 7px;
    border: dotted #eee 1px;
}

.rowButton {
    margin-top: 7px;
    margin-bottom: 7px;
}

.confirmationList{
    margin-left: 50px;
}

.usersGroups {
    margin-left: 50px;
}

.columheader {
    background-color: #777;
    font-weight: bold;
    padding: 7px;
    border-right: solid 1px #fff;
}

.buttonsBlock {
    padding: 15px;
}

.groupsSelector {
    padding: 15px;
}

.usersList {
    margin-left: 15px;
    margin-right: 15px;
}